<h1> Welcome to the Sci-Fi Site </h1>
<% @movies.each do |movie| %>
  <div>
    <h1><%= movie.name %></h1><br />
    <i><%= movie.runtime %></i> Minutes<br />
    <p><%= movie.description %></p><br />
  </div>

  <hr />
<% end %>