<div class= 'heading'><h1> What Type of Sci-Fi Are You Looking For? </h1></div>
<%= simple_form_for :some_symbol, url: surveys_path do |f| %>
  <div class="textbox">
    <br>
  <%= f.input :categories, as: :check_boxes, 
    collection: ["Action", "Romance", "Mystery", "Drama", "Horror", "Philosophical", "Comedy", "Animated"] %>
</div>

<div class="submit_button">

<%= submit_tag("Let's go!") %>
</div>
<% end %>
