<div class = "suggestion_box1">
  <div class = "ex3">
    <b class= "titles"> Movies </b>
      <hr>
      <% @movies.each do |m| %>
       <%= m.name %> 
       <hr>
         <br />
      <% end %>
  </div>
</div>

<div class = "suggestion_box2">
  <div class = "ex3">
    <b class= "titles"> Shows </b>
    <hr>
    <% @shows.each do |s| %>
      <%= s.name %>
      <hr>
        <br />
    <% end %>
  </div>
</div>

<div class = "suggestion_box3">
  <div class = "ex3">
    <b class= "titles"> Games </b>
    <hr>
    <% @games.each do |g| %>
      <%= g.name %>
      <hr>
        <br />
    <% end %>
  </div>
</div>


<div class = "suggestion_box4">
  <div class = "ex3">
    <b class= "titles"> Books </b>
    <hr>
    <% @books.each do |b| %>
      <%= b.name %> 
     <hr>
      <br />
    <% end %>
  </div>
</div>
