/*
 *= require nprogress
 *= require nprogress-bootstrap
 *= require nprogress-turbolinks5
 */

 $nprogress-color: #37c8c9;

@import "nprogress";
@import "nprogress-bootstrap";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Audiowide|Unica+One&display=swap');

.heading2{
  font-family: 'Unica One', cursive;
  font-size: 15px;
}

.heading3{
  font-family: 'Unica One', cursive;
  font-size: 15px;
}

img {
  width: 220px;
}

div.ex3 {
  width: auto;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 200px);
}

.box {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-family: 'Audiowide', cursive;
}

.heading {
  font-family: 'Unica One', cursive;
  background-color: white;
}

.heading h1 {
  color: black;
  font-weight: 900;
  text-align: center;
}

.suggestion_box1{
  font-family: 'Audiowide', cursive;
  font-size: 25px;
  font-weight: 500;
  background-color:white;
    display: inline-block;
    width: 280px;
    text-align: center;
    border-radius: 25px;
    border: 5px solid black;
    padding: 10px;
    vertical-align: top;
}
.suggestion_box2{
  font-family: 'Audiowide', cursive;
  font-size: 25px;
  font-weight: 500;
  background-color:white;
    display: inline-block;
    width: 280px;
    text-align: center;
    border-radius: 25px;
    border: 5px solid black;
    padding: 10px;
    vertical-align: top;
}
.suggestion_box3{
  font-family: 'Audiowide', cursive;
  font-size: 25px;
  font-weight: 500;
  background-color:white;
    display: inline-block;
    width: 280px;
    text-align: center;
    border-radius: 25px;
    border: 5px solid black;
    padding: 10px;
    vertical-align: top;
}
.suggestion_box4{
  font-family: 'Audiowide', cursive;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  background-color:white;
  width: 280px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid black;
  padding: 10px;
  vertical-align: top;
    }
.titles{
  font-family: 'Unica One', cursive;
  font-size: 40px;
}


body {
display:block;
margin-left: auto;
margin-right: auto;
text-align: center;
background: image_url('circuit-board.png')
}

.navbar {
  font-family: 'Unica One', cursive;
  font-size: 50px;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
}

a.navbar-brand {
  font-family: 'Audiowide', cursive;
  font-weight: 100;
}


.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


input[type=button], input[type=submit], input[type=reset] {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  font-family: 'Audiowide', cursive;
  cursor: pointer;
  vertical-align: text-bottom;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.input:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border: 2px solid black;
  border-radius: 15px;
}

input:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
}

.textbox{
    background-color:white;
    display: inline-block;
    width: 280px;
    margin-top: 50px;
    text-align: center;
    border-radius: 25px;
    border: 5px solid black;
}

.submit_button{
    margin-top: 50px;
    margin-right: 125px;
    }

.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
  }

  label {
  font-family: 'Unica One', cursive;
    font-size: 30px;
    float: left;
    width: 100px;
    text-align: center;
    margin: 4px 10px;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}


.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
    position: absolute;
  top: 0;
  height: 25px;
  width: 25px;
  }
}

label.collection_check_boxes {
  text-align: center;
  float: none;
  margin: 0;
  margin-right: 50px;
  vertical-align: -2px;
  margin-left: 20px;
  color: black;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
